characterization/azurefunctions-accesses-2020.csv
characterization/AzureFunctionsInvocationTraceForTwoWeeksJan2021.txt
KNative_prototype/run-all-out.txt
cloudlab/run-all-out.txt
cloudlab/run-all-out-v3.txt
